.list {
  font-weight: bold;
}

.card {
  display: inline-block;
  width: 200px;
  border: 1px solid #000;
}

.modal {
  position: fixed;
  transform: translate(30vw, 40vh);
  border: 1px solid #000;
  width: 400px;
}